#main-content{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.arrows-wrapper {
  top:-100px !important;
  display: flex!important;
  position: relative!important;
  justify-content: space-between!important;
}
.arrows-wrapper-p-20{
  top:-35px !important;
  display: flex!important;
  position: relative!important;
  justify-content: space-between!important;
}
.arrows-wrapper-p-10{
  top:-45px !important;
  display: flex!important;
  position: relative!important;
  justify-content: space-between!important;
}
.arrows-wrapper-p-20 .slick-next-arrow , .arrows-wrapper-p-10 .slick-next-arrow ,.arrows-wrapper .slick-next-arrow{
  float: left !important;
   cursor: pointer;
   left:-25px;
   background-color:#transparent!important;
   color: #000 !important;
   border: none !important;
   font-size: 18px !important;
}
.arrows-wrapper-p-20 .slick-prev-arrow , .arrows-wrapper-p-10 .slick-prev-arrow ,.arrows-wrapper .slick-prev-arrow{
   float: right !important;
    cursor: pointer;
   right:-25px;
   background-color:#transparent!important;
   color: #000 !important;
   border: none !important;
   font-size: 18px !important;
}

@media only screen and (max-width: 420px) {
.arrows-wrapper-p-20{
  top:-65px !important;
  display: flex!important;
  position: relative!important;
  justify-content: space-between!important;
}}


.active-subcategory{
 color: var(--primary-color) !important;
}

.active-category{
 background-color: var(--primary-color) !important;
 color:#000!important;
}

.figure {
    position: relative;
}

figcaption {
    display: none;
    position: absolute;
    left: 20px;
    top: 50px;
    right: 120px;
}

.figure:hover img {
    opacity: .9;
}

.figure:hover figcaption {
    display: block;
}
.page-header{
   display: none;
}
.product-button .quantity .qty-box {
  border-old:none;
}
.header__center{
padding-right:100px;
padding-left:100px;
}


.lg-backdrop{
 display:none!important;  
}
.lg-actions{
 display:none!important;  
}

.lg-start-zoom{
 display:none !important;  
}
.gallery-modal-body {
   display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; 
}
.menu--mobile>li>a{
  font-size:17px;
}